<!--Template file-->
<!--templates/files.html.j2-->

{% extends 'base.html' %}

{% block title %}Files to be downloaded{% endblock %}

{% block main %}

<h2>Directory Listing Example</h2>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Modified Time</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="{{ url_for('getFiles', reqPath=data['parentFolder']) }}">
                    <span><i class="bi bi-folder-symlink" style="margin-right:0.3em"></i>Parent Directory</span>
                </a>
            </td>
            <td></td>
            <td></td>
        </tr>
        {% for fileObj in data['files'] %}
        <tr>
            <td>
                <a href="{{ url_for('getFiles', reqPath=fileObj['relPath']) }}">
                    <span><i class="{{fileObj['fIcon']}}" style="margin-right:0.3em"></i>{{ fileObj['name'] }}</span>
                </a>
            </td>
            <td>{{fileObj['mTime']}}</td>
            <td>{{fileObj['size']}}</td>
            <td>
                <button onclick="document.getElementById('id01').style.display='block'"><i class = 'bi bi-trash'></i></button>

                    <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <div class="container">
                        <h1>Delete File</h1>
                        <p>Are you sure you want to delete your file?</p>

                        <div class="clearfix">
                            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="cancelbtn">Cancel</button></a>
                            <a href="{{ url_for('del_file', reqPath=fileObj['relPath']) }}"><button type="button" class="deletebtn">Delete</button></a>
                        </div>
                        </div>
                    </div>                 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<style>
table {table-layout:fixed; width:100%;}
table td, th {word-wrap:break-word;}
th {text-align: left;}
</style>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


{% endblock %}